<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="container">
    <div class="row first">
      <div class="col login">
        <label class="form-label">Login name</label>
        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': invalid('loginName') }" formControlName="login" >
        <div class="invalid-feedback">
          This field is required!
        </div>
      </div>
      <div class="col name">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': invalid('name') }" formControlName="name">
        <div class="invalid-feedback">
          This field is required!
        </div>
      </div>
      <div class="col surname" >
        <label class="form-label">Surname</label>
        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': invalid('surname') }" formControlName="surname">
        <div class="invalid-feedback">
          This field is required!
        </div>
      </div>
    </div>
    <div class="row second">
      <div class="col email">
        <label class="form-label">E-mail</label>
        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': invalid('email') }" formControlName="email">
        <div class="invalid-feedback">
          This field is required!
        </div>
      </div>
      <div class="col password">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" [ngClass]="{ 'is-invalid': invalid('password') }" formControlName="password">
        <div class="invalid-feedback">
          This field is required!
        </div>
      </div>
      <div class="col passwordRepeat">
        <label class="form-label">Confirm password</label>
        <input type="password" class="form-control" [ngClass]="{ 'is-invalid': !confirmPassword() || invalid('confirmPassword') }" formControlName="confirmPassword">
        <div class="invalid-feedback">
          Passwords dont match or field is empty!
        </div>
      </div>
    </div>
  </div>
  <div class="row third">
    <div class="col selectFreq">
      <label class="form-select-lable">Reports</label>
      <select class="form-select" [ngClass]="{ 'is-invalid': invalid('reports') }" formControlName="reports">
        <option value="1">Never</option>
        <option value="2">Daily</option>
        <option value="3">Weekly</option>
        <option value="4">Monthly</option>
      </select>
    </div>
    <div class="col-3 buttons">
      <button type="submit" class="submit btn btn-primary">SUBMIT</button>
      <button [mat-dialog-close]="true" class="cancel btn btn-primary">CANCEL</button>
    </div>
  </div>
</form>
