<div class="container">
    <div class="row">
        <p class="problemslabel red">PROBLEMS</p>
    </div>
    <div class="row">
        <div class="container black">
            <cdk-virtual-scroll-viewport itemSize="24" class="scrollproblems">
                <div class="row" *ngFor="let problem of problems" class="scrollheight">
                    <div class="row">
                        <div class="col-3">
                            {{problem.ClientName}}
                        </div>
                        <div class="col">
                            {{problem.ConfigName}}
                        </div>
                        <div class="col-auto">
                            {{problem.Time}}
                        </div>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>