<div class="container">
    <div class="row">
        <p class="problemslabel red">PROBLEMS</p>
    </div>
    <div class="row problemswidth">
        <div class="container black">
            <cdk-virtual-scroll-viewport itemSize="72" class="scrollproblems">
                <div class="row" *ngFor="let odd = odd;let problem of problems" [class.grayitem]="odd">
                    <div (click)="scroll(problem.id)" class="row itemheight scrollitem">
                        <div class="col-3">
                            <p>{{problem.client_name}}</p>
                        </div>
                        <div class="col-3">
                            <p>{{problem.config_name}}</p>
                        </div>
                        <div class="col">
                            <p class="centeredtext">{{format_time(problem.create_date)}}</p>
                        </div>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>
