body {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #F6F6F6;
}
.configPanel{
  margin-bottom: 2%;
  background-color: white;
}
.configHeader{
  padding: 30px;
  font-size: 25px
}
.container.expand{
  border-top: #707070 1px solid;
  margin-top: 15px;
  padding-top: 20px;
}
