<body>
  <div *ngIf="type=='config'" class="configRemove">
    <div class="mat-dialog-title">
      <div class="header">
        <i class="icon fa-solid fa-trash"></i>
        <h1>Remove configuration</h1>
      </div>
    </div>
    <div class="content mat-dialog-content">
      <p>Are you sure you want to remove this configuration?</p>
    </div>
    <mat-dialog-actions align="center" class="Button">
      <button tabindex="-1" class="ButtonYES" mat-button [mat-dialog-close]="true" >YES</button>
      <button class="ButtonCANCEL" mat-button mat-dialog-close>CANCEL</button>
    </mat-dialog-actions>
  </div>

  <div *ngIf="type=='clientFromConfig'" class="configRemove">
    <div class="mat-dialog-title">
      <div style="margin-left: 0px" class="header">
        <i style="float: none; display: block;margin: auto;" class="icon fa-solid fa-trash"></i>
        <h1 style="text-align: center;">Remove client <br> from config</h1>
      </div>
    </div>
    <div class="content mat-dialog-content">
      <p>Are you sure you want to remove this configuration?</p>
    </div>
    <mat-dialog-actions align="center" class="Button">
      <button tabindex="-1" class="ButtonYES" mat-button [mat-dialog-close]="true" >YES</button>
      <button class="ButtonCANCEL" mat-button mat-dialog-close>CANCEL</button>
    </mat-dialog-actions>
  </div>

  <div *ngIf="type=='PLACEHOLDER'" class="configRemove">
    <div class="mat-dialog-title">
      <div class="header">
        <i class="icon fa-solid fa-trash"></i>
        <h1>Remove configuration</h1>
      </div>
    </div>
    <div class="content mat-dialog-content">
      <p>Are you sure you want to remove this configuration?</p>
    </div>
    <mat-dialog-actions align="center" class="Button">
      <button tabindex="-1" class="ButtonYES" mat-button [mat-dialog-close]="true" >YES</button>
      <button class="ButtonCANCEL" mat-button mat-dialog-close>CANCEL</button>
    </mat-dialog-actions>
  </div>
</body>
