<div class="container">
    <div class="row">
        <p class="problemslabel blue">COMPLETED</p>
    </div>
    <div class="row">
        <div class="container">
            <cdk-virtual-scroll-viewport itemSize="72"
                class="scrollcompleteawaits">
                <div class="row" *ngFor="let odd = odd;let complete of completed" [class.grayitem]="odd">
                    <div class="row" style="height: 72px;">
                        <div class="col">
                            <p class=" scrollitem">{{complete.ClientName}}</p>
                        </div>
                        <div class="col">
                            <p class=" scrollitem">{{complete.ConfigName}}</p>
                        </div>
                        <div class="col">
                            <p class=" scrollitem">{{complete.Time}}</p>
                        </div>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>