<form [formGroup]="form">
  <mat-vertical-stepper #linearVerticalStepper="matVerticalStepper" formArrayName="formArray" [linear]="true">

<!--FIRST STEP-->
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])!">
      <ng-template matStepLabel>Add clients to your configuration</ng-template>
      <h1 mat-dialog-title>
        <div class="row">
          <h1 class="col" >Clients</h1>
          <div class="col text-end">
            <input *ngIf="searchActive"  class="InputSearch" matInput >
            <a (click)="searchActive= !searchActive" style="cursor: pointer"><i style="color: #707070; margin-right: 200px;  margin-top: 2em" class="fa-solid fa-magnifying-glass"></i></a>
          </div>
        </div>
      </h1>
      <div mat-dialog-content>
        <cdk-virtual-scroll-viewport itemSize="50" class="clientsViewport">
          <div *cdkVirtualFor="let client of clients" class="clientLine">
            <div class="row">
              <div class="col-1">
                <mat-checkbox></mat-checkbox>
              </div>
              <div class="col-2">
                <p>{{client.name}}</p>
              </div>
              <div class="col-4">
                <p>{{client.ipAddress}}</p>
              </div>
              <div class="col">
                <p>{{client.macAddress}}</p>
              </div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
      <mat-dialog-actions class="Button">
        <button tabindex="-1" class="ButtonYES" mat-button [mat-dialog-close]="true" mat-button matStepperNext>Next</button>
        <button class="ButtonCANCEL" mat-button mat-dialog-close routerLink="/ui/dashboard">Cancel</button>
      </mat-dialog-actions>
    </mat-step>

<!--SECOND STEP-->
    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])!">
      <ng-template matStepLabel>
        <div>Configuration</div>
      </ng-template>
    <!--type of backup-->
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1" (click)="backup = 'full'" checked>Full backup</mat-radio-button>
        <mat-radio-button value="2" (click)="backup = 'diff'">Differential backup</mat-radio-button>
        <mat-radio-button value="3" (click)="backup = 'inc'">Incremental backup</mat-radio-button>
      </mat-radio-group>
    <!--retention-->

      <table class="configurationTable" cellspacing="0">
        <tr>
          <td>
            <p>Retention</p>
          </td>
          <td>
            <mat-form-field class="example-full-widthL" appearance="fill">
              <mat-label>Number of backups</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td *ngIf="backup != 'full'">
            <mat-form-field class="example-full-widthR" appearance="fill">
              <mat-label>Number of packages</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
    <!--Backup format-->
          <td>
            <p class="backupFormatHeader">Backup format</p>
          </td>
          <td>
            <mat-radio-group aria-label="Select an option" class="backupFormat">
              <mat-radio-button value="plainText" name="backupType" (change)="PlainText = true" checked>Plain text</mat-radio-button>
              <mat-radio-button value="archive" name = "backupType" (change)="PlainText = false">Archive</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        </table>
    <!--Frequency-->
<!--BASIC-->
        <table class="configurationTable" cellspacing="0">
        <span class="basicFrequency" *ngIf="frequentionBasic">
        <tr>
          <td>
            <p class="frequencyHeader">Frequency</p>
          </td>
          <td>
            <mat-radio-button value="basic" name="frequetnionType" checked>Basic</mat-radio-button><br>
            <mat-radio-button value="advanced" name="frequetnionType" (click)="frequentionBasic = false" >Advanced</mat-radio-button>
          </td>
            <td>
              <mat-radio-button value="3" name="group2" checked (click)="frequention = 'daily'">Daily</mat-radio-button><br>
              <mat-radio-button value="4" name="group2" (click)="frequention = 'weekly'">Weekly</mat-radio-button><br>
              <mat-radio-button value="5" name="group2" (click)="frequention = 'monthly'">Monthly</mat-radio-button>
            </td>
            <div class="days" *ngIf="frequention == 'weekly'">
              <td>
                <div class="checkbox">
                  <mat-checkbox>Monday</mat-checkbox><br>
                  <mat-checkbox>Tuesday</mat-checkbox><br>
                  <mat-checkbox>Wednesday</mat-checkbox><br>
                  <mat-checkbox>Thursday</mat-checkbox><br>
                  <mat-checkbox>Friday</mat-checkbox>
                </div>
              </td>
              <td>
                <mat-checkbox class="checkSecondColumn">Saturday</mat-checkbox><br>
                <mat-checkbox class="checkSecondColumn">Sunday</mat-checkbox>
              </td>
            </div>
              <td class="days" *ngIf="frequention == 'monthly'">
                <mat-form-field appearance="fill">
                  <mat-label>Day of month</mat-label>
                  <input matInput>
                </mat-form-field>
              </td>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Start at</mat-label>
                <input matInput type="time">
              </mat-form-field>
            </td>
          </tr>
          </span>
<!--ADVANCED-->
        <span class="advancedFrequency" *ngIf="!frequentionBasic">
          <tr>
            <td>
             <p class="frequencyHeader">Frequency</p>
            </td>
          <td>
            <mat-radio-button value="basic" name="frequetnionType" (click)="frequentionBasic = true">Basic</mat-radio-button><br>
            <mat-radio-button value="advanced" name="frequetnionType" checked>Advanced</mat-radio-button>
          </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          <td>
            <mat-form-field class="inputWrapper" appearance="fill" style="margin-left: 5em">
              <mat-label>Minute</mat-label>
                <input class="cronInput" matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="inputWrapper" appearance="fill">
              <mat-label>Hour</mat-label>
                <input class="cronInput" matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="inputWrapper" appearance="fill">
              <mat-label>Day(M)</mat-label>
                <input class="cronInput" matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="inputWrapper" appearance="fill">
              <mat-label>Month</mat-label>
                <input class="cronInput" matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="inputWrapper" appearance="fill">
              <mat-label>Day(W)</mat-label>
                <input class="cronInput" matInput>
            </mat-form-field>
          </td>
        </tr>
        </span>
      </table>
      <div class="buttons">
        <button mat-button matStepperNext class="ButtonYES">Next</button>
        <button mat-button matStepperPrevious class="ButtonCANCEL" routerLink="/ui/dashboard">Cancel</button>
      </div>
    </mat-step>

<!--THIRD STEP-->
    <mat-step>
      <ng-template matStepLabel>Source / Destination</ng-template>
      <div class="row">
        <div class="col">
          <div *ngFor="let source of tempSources">
            <mat-form-field class="example-full-widthSrc" appearance="fill" [style.width.px]=700>
              <mat-label>Source</mat-label>
              <input matInput placeholder="C:\\.....">
            </mat-form-field>
          </div>
          <svg (click)="addSource()" class="plusIcon" xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33">
            <g id="Icon_feather-plus-circle" data-name="Icon feather-plus-circle" transform="translate(-1.5 -1.5)">
              <path id="Path_18" data-name="Path 18" d="M33,18A15,15,0,1,1,18,3,15,15,0,0,1,33,18Z" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              <path id="Path_19" data-name="Path 19" d="M18,12V24" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              <path id="Path_20" data-name="Path 20" d="M12,18H24" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
            </g>
           </svg>
        </div>
        <div class="col">
          <div class="row"  *ngFor="let dest of tempDest">
            <div class="col-1">
              <mat-form-field  [style.width.px]=100>
                <mat-select tabindex="-1"  class="SelectDate">
                  <mat-option value="drive">Drive</mat-option>
                  <mat-option value="ftp">FTP</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-widthDst" appearance="fill" [style.width.px]=700>
                <mat-label>Destination</mat-label>
                <input matInput placeholder="X:\\.....">
              </mat-form-field>
            </div>
          </div>
          <svg (click)="addDest()" class="plusIcon" xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33">
            <g id="Icon_feather-plus-circle" data-name="Icon feather-plus-circle" transform="translate(-1.5 -1.5)">
              <path id="Path_18" data-name="Path 18" d="M33,18A15,15,0,1,1,18,3,15,15,0,0,1,33,18Z" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              <path id="Path_19" data-name="Path 19" d="M18,12V24" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              <path id="Path_20" data-name="Path 20" d="M12,18H24" fill="none" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
            </g>
          </svg>
        </div>
      </div>
      <div class="thirdStepButtons">
        <button mat-button matStepperNext class="ButtonYES" routerLink="/ui/dashboard">Save</button>
        <button mat-button matStepperPrevious class="ButtonCANCEL" routerLink="/ui/dashboard">Cancel</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>

