.gridstyle{
  background: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  box-shadow: 7px 7px 9px 7px lightgray;
}
.addconfiggridstyle{
  background: #f6f6f6;
}
body,html{
  background-color: #f6f6f6;
}
.labelborder{
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  margin: 10%;
}
.sevendays{
  padding: 20%;
}
.graf{
top: 30px;
}
.success-norun-error1{
  text-align:center;
  font-size: 40px;
}
.success-norun-error7{
  text-align:center;
  font-size: 25px;
}
.counts1{
  text-align:center;
  font-size: 30px;
}
.counts7{
  text-align:center;
  font-size: 20px;
}
.sizelabel{
  text-align:center;
  font-size: 35px;
}
.countssize{
  text-align:center;
  font-size: 25px;
}
.problemslabel{
  text-align:center;
  font-size: 40px;
}

.red{
color: #e52f2f;
}
.orange{
color: #ff6c0a;
}
.green{
color: #1c9c24
}
.blue{
  color: #0074d4
}

.scrollheight{
  height: 50px;
}
.scrollproblems {
  height: 450px;
  width: 260px;
}
.scrollcompleteawaits {
  height: 300px;
  width: 260px;
}
.addconfig{
  text-align:center;
  font-size: 40px;
  color: #0074d4;
  margin: 5%;
}