<body style="padding-left: 5%;padding-right: 5%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="p-4">
                    <a href="/ui/logs">
                        <app-stats1day></app-stats1day>
                    </a>
                </div>
                <div class="p-4">
                    <mat-grid-list cols="4" rowHeight="145px" gutterSize=70px>
                        <mat-grid-tile colspan=1 rowspan=1 style.background class="gridstyle">
                            <div>
                                <app-backupsize></app-backupsize>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan=3 rowspan=4 style.background class="graf gridstyle">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <app-graf></app-graf>
                                    </div>
                                    <div class="col">
                                        <div class="container">
                                            <div class="row">
                                                <app-completed></app-completed>
                                            </div>
                                            <div class="row">
                                                <app-awaits></app-awaits>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-grid-tile>
                        <a href="/ui/logs">
                            <mat-grid-tile colspan=1 rowspan=3 style.background class="gridstyle black">
                                <app-stats7day></app-stats7day>
                            </mat-grid-tile>
                        </a>
                    </mat-grid-list>
                </div>
            </div>
            <div class="p-4 col">
                <mat-grid-list mat-grid-list cols="1" rowHeight="150px" gutterSize=50px>
                    <a href="/ui/logs">
                        <mat-grid-tile colspan=1 rowspan=3 style.background class="gridstyle">
                            <app-problems></app-problems>
                        </mat-grid-tile>
                    </a>
                    <a href="/ui/configs">
                        <mat-grid-tile colspan=1 rowspan=2 style.background class="addconfiggridstyle">
                            <app-addconfigbutton></app-addconfigbutton>
                        </mat-grid-tile>
                    </a>
                </mat-grid-list>
            </div>
        </div>
    </div>
</body>